/* Roboto Regular */
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Roboto Bold */
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* Roboto Medium */
@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


*,
*::after,
*::before {
    box-sizing: border-box;
}

html,
body {
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
    font-weight: normal;
    color: #FFFFFF;
    background-image: linear-gradient(to right top, #060606, #050504, #030303, #020201, #000000);
    scrollbar-gutter: stable;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    flex-shrink: 0;
}

ul {
    padding-left: 0;
}

ul>li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;

}

button,
input {
    outline: none;
    border: none;
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

.container {
    width: 130rem;
    margin: 0 auto;
}

:root {
    --text-size-medium: 1.6rem
}

.block__center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.button {
    border-radius: 5rem;
    padding: 1rem 3rem;
    color: #FFFFFF;
}

.header {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    padding: 4rem 11rem 4rem 8rem;
    z-index: 10;
}

.header__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__menu {
    display: flex;
    align-items: center;
}

.header__nav a:not(:last-child) {
    margin-right: 7.1rem;
}

.header__nav a {
    font-size: var(--text-size-medium);
    font-weight: 400;
    line-height: 150%;
}

.header__logo {
    display: block;
    width: 4rem;
    height: 4rem;
}

.header__button {
    margin-left: 55.3rem;
    background: linear-gradient(142deg, #c89afc 0%, #7c6afa 100%);
    font-size: var(--text-size-medium);
    line-height: 150%;
}

.main-display__background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.main-display {
    padding-top: 27rem;
}

.main-display .container {
    position: relative;
    z-index: 9;
    padding-bottom: 22.8rem;
}

.main-display__header {
    max-width: 76rem;
    margin-bottom: 5rem;
    font-size: 6.4rem;
    font-weight: 700;
    line-height: 140%;

}


.main-display__timer {
    display: flex;
    margin-bottom: 7.6rem;
}

.timer__item {
    width: 10.2rem;
    height: 11.2rem;
    background-color: #121212;

    /*     display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; */

}

.timer__item:not(:last-child) {
    margin-right: 3rem;
}

.timer__count {
    font-size: 3.6rem;
}

.timer__text {
    font-size: var(--text-size-medium);
    opacity: 0.4;
    line-height: 140%;
}

.timer__hidden {
    visibility: hidden;
}

.main-display__button {
    background: linear-gradient(141deg, #df5950 0%, #451046 100%);
    font-size: var(--text-size-medium);
    line-height: 140%;
}


.course {
    padding-top: 100px;
}

.course__wrap {
    display: flex;
    align-items: center;
    font-size: 16px;
}

.course-button__wrap {
    display: flex;
    flex-shrink: 0;
    margin-right: 81px;
}

.course__button {
    background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
}

.course__counter {
    min-width: 251px;
    margin-right: 81px;
}

.course__counter-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.course__counter-line,
.course__progress-label {
    color: #FFFFFF40;
}

.course__progress-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 279px;
}

.course__number {
    font-weight: 700;
    color: #FFFFFF;
}

.course__progress {
    width: 100%;
}

.course__progress-element {
    width: 100%;
}

.course__progress-minmax {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #FFFFFF40;
}

progress,
progress[value],
progress:not([value]) {
    appearance: none;
    width: 100%;
    margin: 5px 0;
}

progress::-webkit-progress-bar {
    background: #FFFFFF;
    height: 6px;
}

progress::-webkit-progress-value {
    background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
    height: 6px;
}

progress {
    background: #FFFFFF;
    height: 6px;
}

progress::-moz-progress-value {
    background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
    height: 6px;
}


.work {
    padding-top: 20rem;
    padding-bottom: 24.3rem;

}

.work__wrap {
    display: flex;

}

.work__img {
    width: 52.6rem;
    height: 49.9rem;
    margin-right: 13.9rem;
}

.work__text {
    max-width: 63.6rem;
    padding-top: 6.9rem;
}

.work__header {
    margin-bottom: 4.5rem;
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 140%;
}

.work__description {
    font-size: var(--text-size-medium);
    line-height: 140%;
}


.process {
    position: relative;
    padding-bottom: 20rem;
}

.process .process__img {
    transform: rotate(45deg);
}

.process__img {
    width: 9rem;
    height: 4.5rem;
    margin-right: 2rem;
}

.process__header {
    margin-bottom: 4.9rem;
    padding-top: 1rem;
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 140%;
}

.process__title {
    display: flex;
}

.process__discription {
    max-width: 41.1rem;
    margin-bottom: 8rem;
    font-weight: 400;
    font-size: var(--text-size-medium);
    line-height: 160%;
    opacity: 0.5;
}

.process__work {
    margin-bottom: 6.5rem;
    font-weight: 700;
    font-size: 3.6rem;
    line-height: 140%;
}

.process_text {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 160%;
    opacity: 0.5;

}

.process__columns {
    display: flex;
}

.process__columns::after {
    content: '';
    display: block;
    width: 130rem;
    height: 0.2rem;
    position: absolute;
    top: 31rem;
    left: 50%;
    transform: translate(-50%, 0);
    background: linear-gradient(142deg, #c89afc 0%, #7c6afa 100%);
}

.process_item {
    max-width: 30.6rem;
}

.command {
    padding-bottom: 20rem;
}

.command__title {
    margin-bottom: 11.9rem;
}

.command__header {
    margin-bottom: 0;
}

.command__img {
    width: 19rem;
    height: 19rem;
    margin-bottom: 4rem;
    border-radius: 50%;
}

.command__wrap {
    display: flex;
    justify-content: space-between;
    padding-left: 11rem;
    padding-right: 11rem;
}

/* .command_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

.command__name {
    margin-bottom: 1.5rem;
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 140%;
}


.command__profession {
    margin-bottom: 3rem;
    font-weight: 400;
    font-size: var(--text-size-medium);
    line-height: 160%;
    opacity: 0.8;
}

.command__link {
    margin-bottom: 1.5rem;
    font-weight: 500;
    font-size: var(--text-size-medium);
    line-height: 150%;
    border: 0.1rem solid #FFFFFF;
}

.assembly {
    padding-bottom: 24.4rem;
}

/* .assembly__wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

} */

.assembly__header {
    margin-bottom: 3rem;
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 140%;
}

.assembly__discription {
    margin-bottom: 4.52rem;
    font-weight: 400;
    font-size: var(--text-size-medium);
    line-height: 160%;
    opacity: 0.5;
}

.assembly__button {
    margin-bottom: 5.08rem;
    background: linear-gradient(141deg, #df5950 0%, #451046 100%);
    font-size: var(--text-size-medium);
    line-height: 150%;
}

.assembly__socials {
    display: flex;

}

.assembly__item {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(142deg, #c89afc 0%, #7c6afa 100%);
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
}

.assembly__item img {
    width: 50%;
    height: 50%;
}

.assembly__item:not(:last-child) {
    margin-right: 3rem;
}


.modal {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 10;
    padding: 3rem 0;
    background: rgba(0, 0, 0, 0.8);
    display: none;
}

.modal__inner {
    position: relative;
    width: 66.3rem;
    padding: 9rem 1rem;
    background: #2C2C2C;
    text-align: center;
}

.modal__header {
    margin-bottom: 1rem;
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 140%;
}

.modal__subheader {
    margin-bottom: 2.8rem;
    font-size: var(--text-size-medium);
    line-height: 160%;
    opacity: 0.5;

}


.modal__elements {
    margin: 0 auto 3.2rem auto;
    width: 45.4rem;
}

.modal__item {
    height: 4.4rem;


}

.modal__item:not(:last-child) {
    margin-bottom: 1.8rem;
}

.modal__input {
    width: 100%;
    height: 100%;

    background-color: grey;
    border-radius: 5rem;

    font-size: 1.4rem;
    line-height: 160%;
    color: #FFFFFF;
    opacity: 0.8;

    padding-left: 2rem;
    padding-right: 2rem;
}

.modal__input::placeholder {
    color: #FFFFFF;
    opacity: 0.5;
}

.modal_close {
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 4rem;
    height: 4rem;
    cursor: pointer;

}

.noneScroll {
    overflow: hidden;
    height: 100%;
}



.program {
    margin-bottom: 200px;
}

.program__content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.program__content::before {
    content: '';
    position: absolute;
    background-image: url('../img/line.png');
    width: 86px;
    height: 100%;
    background-repeat: no-repeat;
    left: 50%;
    transform: translateX(-50%);
}

.program-line {
    display: flex;
    justify-content: space-between;
    width: 750px;
}

.program-line__content:nth-child(n) {
    text-align: right;
}

.program-line__content:nth-child(2n) {
    text-align: left;
    margin-top: 76px;
}


.program__image {
    margin: 0 auto;
    width: 90px;
    margin-bottom: 76px;
}

.program .program__image {
    transform: rotate(180deg);
}


.program__header {
    text-align: center;
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 140%;
}

.program__description {
    max-width: 410px;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #FFFFFF40;
    margin: 30px auto 80px auto;
}

.program-line__content {
    width: 304px;
    height: 115px;
}

.program-line__descr {
    height: 0;
    overflow: hidden;
}

.program-line__descr.active {
    height: auto;
    overflow: auto;
}

.program-line__title {
    cursor: pointer;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: #FFFFFF40;
}

.program-line__descr {
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
}